
@charset "utf-8";
*{ text-decoration:none; }
html{font-size: 100px}

html,body,p{ padding:0; margin:0;}
html,body{ overflow-x: hidden; width: 100%;}
ul li{ list-style:none; padding:0; margin:0;}

.FLine{text-decoration:line-through}
.Fnum{font-family: Arial;}
.Fb{font-weight:bold}
/*-/ font */

/* layout */
.hidden{display:none}.show{display:block}
.absolute{position:absolute}.relative{position:relative}.fixed{position:fixed}.static{position:static}
.over-hidden{overflow:hidden}.over-auto{overflow:auto}.over-scroll{overflow:scroll}
.fl,.fl-img{float:left}.fr{float:right}.middle{vertical-align:middle}
.img-area img{ display: block; width:100%;height:100%}
.img-area-small img{width:50%;height:50%; float:left; margin-top:25%; margin-left:25%;}.img-Harea img{width:auto;height:100%}
.img-Warea img{width:100%;height:auto}.center{margin:0 auto}  .text-center{text-align:center}.text-left{text-align:left}
.text-right{text-align:right}.display-table{display:inline-table}.display-inline{display:inline-block}.pointer{cursor:pointer}.move{cursor:move}
.text-over-hidden1{word-break:break-all;  display:-webkit-box;  -webkit-box-orient:vertical; overflow:hidden; line-clamp:1; -moz-line-clamp:1; -webkit-line-clamp:1;}
.text-over-hidden2{word-break:break-all;  display:-webkit-box;  -webkit-box-orient:vertical; overflow:hidden; line-clamp:2; -moz-line-clamp:2; -webkit-line-clamp:2;}
.text-over-hidden3{word-break:break-all;  display:-webkit-box;  -webkit-box-orient:vertical; overflow:hidden; line-clamp:3; -moz-line-clamp:3; -webkit-line-clamp:3;}
/*-/ layout */

.bd-none{border: 0 !important}
.bg-none{background: transparent; background-color: transparent }
.w150rem{ width: 1.5rem}
.w160rem{ width: 1.6rem}
.w200rem{ width: 2rem}
.w240rem{ width: 2.4rem}
.w300rem{ width: 3rem}
.w400rem{ width: 4rem}
.maxW400{ max-width: 4rem}
.maxW300{ max-width: 3rem}
.minW200{ min-width: 2rem}
.minW150{ min-width: 1.5rem}
.minW100{ min-width: 1rem}
.h150rem{ height: 1.5rem}
.wb16666{ width: 16.666%}
.bg-dialog{ width: 100%; height: 100%; left: 0 ; top: 0; background: rgba(0,0,0,.5); z-index: 999; position: fixed}
.bg-date-dialog{ width: 100%; height: 5.6rem; bottom: 0; background: rgba(255,255,255,1); z-index: 9999; position: fixed}
.btn-disabled{ width: 100%; height: 100%; top: 0; left: 0; position: absolute; background: rgba(255,255,255,.5);}
.wb495{ width:49.5% }
.f60rem{ font-size: .6rem}
.w100px{ width: 100px;}
.h100px{height: 100px;}
.w80px{ width: 80px;}
.h80px{height: 80px;}
.radius50{ -moz-border-radius:50%; -webkit-border-radius:50%; border-radius:50%}

textarea::-webkit-input-placeholder {
/* WebKit browsers */
    color: #999999;
}
textarea:-moz-placeholder {
/* Mozilla Firefox 4 to 18 */
    color: #999999;
}
textarea::-moz-placeholder {
/* Mozilla Firefox 19+ */
    color: #999999;
}
textarea::-ms-input-placeholder {
/* Internet Explorer 10+ */
    color: #999999;
}
input::-webkit-input-placeholder {
/* WebKit browsers */
    color: #999999;
}
input:-moz-placeholder {
/* Mozilla Firefox 4 to 18 */
    color: #999999;
}
input::-moz-placeholder {
/* Mozilla Firefox 19+ */
    color: #999999;
}
input::-ms-input-placeholder {
/* Internet Explorer 10+ */
    color: #999999;
}


/* vant样式 */
.van-popup .van-picker .van-picker__cancel, .van-popup .van-picker .van-picker__confirm{
    color: #999999;
}
.van-picker__columns .column2{
    flex: 3;
}
.PrivateFileFilling .van-dialog .van-dialog__header{
    padding-bottom: 20px;
    padding-top: 20px;
    font-size: .32rem;
    color: #666;
}
.PrivateFileFilling .van-dialog .van-dialog__content .box{
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: .8rem;
    padding: .5rem 0;
    border-top:1px solid #F8F8F8 
}
.PrivateFileFilling .van-dialog .van-dialog__content .box input{
    background: #F8F8F8;
    border-radius:.1rem;
    border: 0;
    width: 85%;
    padding:0 .2rem;
    height: 100%;
}
.PrivateFileFilling .van-dialog .van-hairline--top .van-dialog__cancel .van-button__text{
    color: #999999;
}
.PrivateFileFilling .van-dialog .van-hairline--top .van-dialog__confirm .van-button__text{
    color: #04776C;
}

.el-loading-mask .el-loading-spinner .path{
    stroke:#04776C;
}
.el-loading-mask .el-loading-spinner .el-loading-text{
    color: #04776C;
}
.cure .van-picker-column ul{
    padding: 0 .3rem;
    text-align: left;
}