.NewAdvisoryCard {
  overflow: hidden;

  table {
    margin: .2rem;
    padding: 0 .2rem;
    width: 98%;
    text-align: left;

    thead {
      tr {
        height: .5rem;

        th {
          border-bottom: 1px solid #e5e5e5;
          background: #ffffff !important;
          font-size: .14rem;
          font-family: Microsoft YaHei;
          font-weight: 400;
          color: rgba(153, 153, 153, 1);
        }
      }
    }

    tbody {
      background-color: #ffffff;
      margin-bottom: 1rem;

      tr {
        td {
          width: 1%;
          height: 1.1rem;
          border-bottom: 1px solid #e5e5e5;
          font-family: Microsoft YaHei;
          font-weight: 400;
          color: rgba(51, 51, 51, 1);

          .content {
            width: 80%;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
          }

          .felx {
            display: flex;

            .img {
              position: relative;

              .text {
                width: .22rem;
                height: .22rem;
                text-align: center;
                line-height: .22rem;
                border-radius: 50%;
                font-size: .12rem;
                font-family: Microsoft YaHei;
                font-weight: 400;
                position: absolute;
                top: -.07rem;
                left: -.07rem;
                cursor: pointer;
                color: #ffffff;
              }

              .oldText {
                background: #CE8F86;
              }

              .newText {
                background: #9BD8C6;
              }
              
              .prepareText {
                background: #86A1CE;
              }
              img {
                width: .5rem;
                height: .5rem;
                border-radius: 50%;
              }
            }

            .nameAndMoble {
              margin-left: .15rem;

              .name {
                margin-top: .05rem;
                margin-bottom: .05rem;
                display: flex;
                align-items: center;

                span {
                  width: 42%;
                  font-size: .18rem;
                  font-family: Microsoft YaHei;
                  font-weight: 400;
                  color: rgba(51, 51, 51, 1);
                  display: -webkit-box;
                  -webkit-box-orient: vertical;
                  -webkit-line-clamp: 1;
                  overflow: hidden;
                  cursor: pointer;
                }

                i {
                  font-style: normal;
                  margin-left: .09rem;
                  margin-top: .05rem;
                }

                .iconnan {
                  color: #2878ff;
                }

                .iconnv {
                  color: #ec414d;
                }
              }

              .moble {
                font-size: .14rem;
                font-family: Microsoft YaHei;
                font-weight: 400;
              }
            }
          }

          .label {
            width: 1rem;
            height: .38rem;
            padding: 0 .15rem;
            border-radius: 5px;
            color: rgba(255, 254, 254, 1);
            line-height: .38rem;

            .iconfont {
              font-size: .16rem;
            }

            span {
              font-size: .14rem;
              font-family: Microsoft YaHei;
              font-weight: 400;
            }

            em {
              width: 1px;
              height: .1rem;
              background: rgba(255, 255, 255, 1);
              margin: 0 .15rem;
              display: inline-block;
            }
          }

          .labelClassOne {
            background-color: #FF7D54;
          }

          .labelClasstTwo {
            background-color: #7BDA79;
          }

          .labelClassThree {
            background-color: #999A9F;
          }

          .bottomOne {
            font-size:.14rem;
            font-family:Microsoft YaHei;
            font-weight:400;
            .left {
              width:.9rem;
              height:.36rem;
              background:rgba(13,201,229,1);
              border-radius:5px;
              text-align: center;
              line-height: .36rem;
              color:rgba(255,255,255,1);
              cursor: pointer;

            }
            .right {
              margin-top: .1rem;
              width:.9rem;
              height:.36rem;
              border:1px solid rgba(151,215,224,1);
              border-radius:5px;
              text-align: center;
              line-height: .36rem;
              color:rgba(13,201,229,1);
              cursor: pointer;

            }
          }
        }
      }
    }
  }
  .no_data{
    display: flex;
    justify-content: center;
    div{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-top: 4rem;
      b{
        font-weight: normal;
        color: #999;
        font-size: .16rem;
        padding-top: .1rem;
      }
    }
  }
}