
@charset "utf-8";
*{ text-decoration:none; padding: 0; margin: 0; font-size: 14px; font-family: Helvetica,Arial,"Helvetica Neue","Droid Sans","Heiti SC","Microsoft YaHei",sans-serif; }
/**{ text-decoration:none; padding: 0; margin: 0;  }*/
html{font-size: 100px}

html,body,p{ padding:0; margin:0;}
html,body{ overflow: hidden; width:100%;height:100%}
ul li{ list-style:none; padding:0; margin:0;}

.Fb{font-weight:bold}

.hidden{display:none}
.show{display:block}
.absolute{position:absolute}
.relative{position:relative}
.fixed{position:fixed}
.over-hidden{overflow:hidden}
.over-auto{overflow:auto}
.over-scroll{overflow:scroll}
.fl,.fl-img{float:left}
.fr{float:right}
.middle{vertical-align:middle}
.img-area img{ display: block; width:100%;height:100%}
.text-center{text-align:center}
.text-left{text-align:left}
.text-right{text-align:right}
.pointer{
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    cursor:pointer;
    -moz-user-select: none; /*火狐*/
    -webkit-user-select: none; /*webkit浏览器*/
    -ms-user-select: none; /*IE10*/
    -khtml-user-select: none; /*早期浏览器*/
    user-select: none;}
.center{ margin: 0 auto;}

.my-hover{ color: #666}
.my-hover:hover{ color: #0E8AF2}

.dialog-black{ position: fixed; top:0; left: 0; width: 100%; height: 100%; z-index: 9999; background: rgba(0, 0, 0, .5)}
.dialog-white{ position: fixed; top:0; left: 0; width: 100%; height: 100%; z-index: 9999; background: rgba(255, 255, 255, .5)}
.dialog-transparency{ position: fixed; top:0; left: 0; width: 100%; height: 100%; z-index: 9999; background: rgba(0, 0, 0, 0)}

.bg-shadow{ background: rgba(0, 0, 0, .5)}
.bg-shadow-white{ background: rgba(255, 255, 255, .5)}

.my-box-shadow{box-sizing: border-box;box-shadow: -2px -2px 10px rgba(0,0,0,.15);}

.my-radius2{ border-radius:2px }
.my-radius3{ border-radius:3px }
.my-radius-up{ border-radius:2px 2px 0 0 }
.my-radius-down{ border-radius:0 0 2px 2px }

.container{width:100%;height:100%}

.wb100{ width: 100%;}

.h42px{ height: 42px;}
.h54px{ height: 54px;}
.lh54px{ line-height: 54px;}
.h68px{ height: 68px;}
.h78px{ height: 78px;}
.h120px{ height: 120px;}
.h150px{ height: 150px;}
.h200px{ height: 200px;}
.h284px{ height: 284px;}
.h240px{ height: 240px;}
.h300px{ height: 300px;}
.h310px{ height: 310px;}
.h340px{ height: 340px;}
.h350px{ height: 350px;}
.h380px{ height: 380px;}
.h400px{ height: 400px;}
.h450px{ height: 450px;}
.h480px{ height: 480px; }
.h465px{ height: 465px;}
.h485px{ height: 485px;}
.h486px{ height: 486px;}
.h487px{ height: 487px;}
.h530px{ height: 530px;}
.h545px{ height: 545px;}
.h570px{ height: 570px;}
.h740px{ height: 740px;}

.w740px{ width: 740px;}
.w700px{ width: 700px;}
.w500px{ width: 500px;}
.w400px{ width: 400px;}
.w360px{ width: 360px;}
.w350px{ width: 350px;}
.w320px{ width: 320px;}
.w305px{ width: 305px;}
.w300px{ width: 300px;}
.w260px{ width: 260px;}
.w250px{ width: 250px;}
.w245px{ width: 245px;}
.w240px{ width: 240px;}
.w220px{ width: 220px;}
.w200px{ width: 200px;}
.w190px{ width: 190px;}
.w180px{ width: 180px;}
.w170px{ width: 170px;}
.w165px{ width: 165px;}
.w160px{ width: 160px;}
.w150px{ width: 150px;}
.w130px{ width: 130px;}
.w120px{ width: 120px;}
.w72px{ width: 72px;}
.w68px{ width: 68px;}
.w87px{ width: 87px;}

.a{ position: absolute; top:0; left: 0; right: 0; bottom: 0; margin: auto; text-align: center; width: 100px; height: 40px; line-height: 40px; background: #000; color: #fff}

.border-right{ border-right: 1px #e5e5e5 dashed; }
.border-bottom{ border-bottom: 1px #e5e5e5 solid; width: calc(100% - 10px); margin-left: 5px; }

.my-search .el-radio-button:first-child .el-radio-button__inner { border-radius: 0;}
.my-search .el-radio-button:last-child .el-radio-button__inner  { border-radius: 0;}
.my-search .el-input__inner { border: none; border-radius: 0; padding: 0 5px;}
.my-search .el-radio-button__inner { border-bottom: none;}
.my-search .el-button{ border-radius: 0;}
.my-user .el-input__inner { border: none; border-radius: 0; padding: 0 5px;}

.button-bg{ background-image: url("../img/btn-bg.png"); background-size: 100% 100%; background-repeat: no-repeat; opacity:0.8; filter:alpha(opacity=80);}

.message{
    padding: 10px;
    border-radius: 4px;
    top:0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    margin: auto; 
    background: url(../img/noStreetView.jpg) ;
  }
  
.maptalks-bc-1 {
    width: 57px;
    height: 58px;
    background: url(../img/2.png) no-repeat
}

.maptalks-bc-2 {
    width: 49px;
    height: 49px;
    background: url(../img/2_2.png) no-repeat;
    position: absolute;
    left: 75px;
    top: 5px
}

.maptalks-zoom {
    text-align: center
}

.maptalks-zoom .maptalks-zoom-zoomlevel {
    display: block;
    width: 23px;
    height: 23px;
    background: #172029;
    color: #fff;
    line-height: 23px;
    font-size: 12px
}

.maptalks-zoom-slider {
    margin-top: 6px
}

.maptalks-zoom-slider a.maptalks-zoom-zoomin,.maptalks-zoom-slider a.maptalks-zoom-zoomout {
    display: block;
    font-size: 16px;
    width: 21px;
    height: 21px;
    border: 1px solid #363539;
    background: #172029;
    color: #fff;
    line-height: 19px;
    text-decoration: none
}

.maptalks-zoom-slider-box {
    width: 21px;
    height: 124px;
    background: #34495e;
    background: url(../img/kedu.png) repeat-y;
    border: 1px solid #35383b;
    position: relative
}

.maptalks-zoom-slider-box .maptalks-zoom-slider-ruler {
    width: 5px;
    height: 112px;
    background: #372e2b;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    margin: 4px auto;
    position: relative
}

.maptalks-zoom-slider-box .maptalks-zoom-slider-ruler .maptalks-zoom-slider-reading {
    width: 5px;
    height: 50%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #1bbc9b;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px
}

.maptalks-zoom-slider-box .maptalks-zoom-slider-dot {
    width: 15px;
    height: 15px;
    background: url(../img/3.png) no-repeat;
    position: absolute;
    top: 50%;
    left: 3px;
    cursor: pointer
}

.maptalks-toolbar-vertical {
    margin: 0;
    overflow: visible
}

.maptalks-toolbar-horizonal ul,.maptalks-toolbar-vertical ul {
    margin: 0;
    padding: 0
}

.maptalks-toolbar-vertical ul li+li {
    border-top: 1px solid #425568
}

.maptalks-toolbar-vertical li {
    text-align: center;
    list-style: none;
    line-height: 28px;
    color: #fff;
    background: #34495e;
    min-width: 10px;
    min-height: 28px;
    position: relative;
    padding: 0 10px
}

.maptalks-toolbar-vertical li:hover {
    background: #1bbc9b
}

.maptalks-toolbar-vertical li .maptalks-dropMenu {
    padding: 0;
    position: absolute;
    top: 0;
    overflow: visible
}

.maptalks-toolbar-vertical li .maptalks-dropMenu li {
    list-style: none;
    min-width: 95px;
    background: #223140;
    height: 27px
}

.maptalks-toolbar-vertical li .maptalks-dropMenu li a {
    color: #fff;
    display: block;
    line-height: 27px;
    background: url(../img/ico-dot.png) no-repeat 14px 10px;
    text-indent: 33px;
    text-decoration: none;
    font-size: 12px
}

.maptalks-toolbar-vertical li .maptalks-dropMenu em.maptalks-ico {
    display: block;
    width: 5px;
    height: 6px;
    position: absolute;
    top: 12px;
    right: -4px
}

.maptalks-toolbar-vertical li .maptalks-dropMenu li.maptalks-on,.maptalks-toolbar-vertical li .maptalks-dropMenu li:hover {
    background: #0e595e
}

.maptalks-toolbar-horizonal {
    margin: 0;
    overflow: visible
}

.maptalks-toolbar-horizonal li {
    text-align: left;
    line-height: 28px;
    color: #fff;
    padding: 0 10px;
    list-style: none;
    min-width: 28px;
    min-height: 28px;
    float: left;
    background: #34495e;
    position: relative
}

.maptalks-toolbar-horizonal ul li+li {
    border-left: 1px solid #425568
}

.maptalks-toolbar-horizonal li:hover {
    background: #1bbc9b
}

.maptalks-toolbar-horizonal li .maptalks-dropMenu {
    display: block;
    position: absolute;
    left: 0;
    overflow: visible
}

.maptalks-toolbar-horizonal li .maptalks-dropMenu li {
    list-style: none;
    min-width: 95px;
    background: #223140;
    height: 27px
}

.maptalks-toolbar-horizonal li .maptalks-dropMenu li+li {
    border-left: none;
    border-top: 1px solid #425568
}

.maptalks-toolbar-horizonal li .maptalks-dropMenu li a {
    color: #fff;
    display: block;
    line-height: 27px;
    background: url(../img/ico-dot.png) no-repeat 5px 10px;
    text-indent: 20px;
    text-decoration: none;
    font-size: 12px
}

.maptalks-toolbar-horizonal li .maptalks-dropMenu em.maptalks-ico {
    display: block;
    width: 5px;
    height: 6px;
    position: absolute;
    top: -4px;
    left: 12px
}

.maptalks-toolbar-horizonal .maptalks-dropMenu li:hover {
    background: #0e595e
}

.maptalks-menu {
    background: #fff;
    padding: 1px;
    width: 172px;
    border: 1px solid #b4b3b3
}

.maptalks-menu em.maptalks-ico {
    display: block;
    width: 17px;
    height: 10px;
    background: url(../img/5.png) no-repeat;
    position: absolute;
    top: -10px;
    left: 8px
}

.maptalks-menu .maptalks-menu-items {
    color: #5a5756;
    margin: 0;
    padding: 0;
    font-size: 12px
}

.maptalks-menu .maptalks-menu-items li {
    list-style: none;
    height: 30px;
    line-height: 30px;
    text-indent: 16px
}

.maptalks-menu .maptalks-menu-items li:hover {
    background: #007fbe;
    color: #fff;
    cursor: pointer
}

.maptalks-menu .maptalks-menu-items li.maptalks-menu-splitter {
    list-style: none;
    height: 2px;
    background: #ddd
}

.maptalks-msgBox {
    background: #fff;
    border: 1px solid #b4b3b3;
    border-radius: 3px
}

.maptalks-msgBox em.maptalks-ico {
    display: block;
    width: 17px;
    height: 10px;
    background: url(../img/5_1.png) no-repeat;
    position: absolute;
    left: 50%;
    margin-left: -5px;
    bottom: -10px
}

.maptalks-msgBox h2 {
    display: block;
    line-height: 25px;
    font-weight: 700;
    font-size: 14px;
    padding-left: 10px;
    padding-right: 30px;
    margin-bottom: 5px;
}

.maptalks-msgBox a.maptalks-close {
    display: block;
    width: 18px;
    height: 18px;
    background: url(../img/infownd-close.png) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 6px;
    right: 6px
}

.maptalks-msgBox a.maptalks-close:hover {
    background: url(../img/infownd-close-hover.png) no-repeat
}

.maptalks-msgBox .maptalks-msgContent {
    font-size: 12px;
    padding-left: 10px;
    padding-right: 20px;
    line-height: 25px;
    min-width: 180px;
}

.maptalks-panel {
    background: #fff;
    border: 1px solid #b4b3b3;
    border-radius: 3px
}

.maptalks-panel .maptalks-panel-content {
    padding: 10px;
    min-width: 200px;
    min-height: 60px
}

.maptalks-panel a.maptalks-close {
    display: block;
    width: 6px;
    height: 7px;
    background: url(../img/close-2.png) no-repeat;
    position: absolute;
    top: 10px;
    right: 10px
}

.maptalks-panel a.maptalks-close:hover {
    opacity: .5
}

.maptalks-attribution {
    display: inline-block;
    opacity: 1;
    background: #fff;
    background-color: hsla(0,0%,100%,.7);
    padding: 0;
    font-size: 13px;
    font-family: microsoft yahei,Helvetica Neue,Helvetica,sans-serif
}

.maptalks-attribution a {
    text-decoration: none;
    color: #0078a8
}

.maptalks-attribution a:hover {
    text-decoration: underline
}

.maptalks-overview {
    background: #fff;
    border: 1px solid #b4b3b3;
    width: 100%;
    height: 100%
}

.maptalks-overview-button {
    cursor: pointer;
    background: #fff;
    width: 18px;
    height: 18px;
    position: absolute;
    bottom: 1px;
    right: 1px;
    font: 16px sans-serif;
    text-align: center;
    line-height: 16px;
    border: 1px solid #b4b3b3;
    color: #363539
}

.maptalks-layer-switcher ul {
    list-style: none
}

.maptalks-layer-switcher .panel>ul {
    padding-left: 1em
}

.maptalks-layer-switcher .group>ul {
    padding-left: 10px
}

.maptalks-layer-switcher .group+.group {
    padding-top: 1em
}

.maptalks-layer-switcher label {
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
    font-size: 14px;
    white-space: nowrap;
    color: #bbb
}

.maptalks-layer-switcher .group>label {
    font-weight: 700;
    color: #ddd;
    width: 100%
}

.maptalks-layer-switcher .layer label {
    padding-top: 5px;
    width: 92%
}

.maptalks-layer-switcher input {
    margin: 0 5px;
    position: relative;
    top: -2px
}

.maptalks-layer-switcher input[disabled=disabled] {
    cursor: not-allowed
}

.maptalks-layer-switcher input[disabled=disabled]+label {
    color: #666
}

.maptalks-layer-switcher .panel,.maptalks-layer-switcher button {
    border-radius: 4px
}

.maptalks-layer-switcher button {
    width: 28px;
    height: 28px;
    background: url(../img/layer.png) no-repeat 4px 4px;
    background-color: #172029;
    border: none
}

.maptalks-layer-switcher.shown button {
    display: none
}

.maptalks-layer-switcher .panel {
    background-color: #172029;
    display: none;
    overflow-y: auto;
    overflow-x: hidden;
    min-width: 120px;
    max-width: 400px;
    max-height: 500px
}

.maptalks-layer-switcher li {
    white-space: nowrap
}

.maptalks-layer-switcher li.group {
    margin-right: 1em
}

.maptalks-layer-switcher.shown .panel {
    display: block
}

.maptalks-layer-switcher ::-webkit-scrollbar {
    width: 6px
}

.maptalks-layer-switcher ::-webkit-scrollbar-track {
    background-color: #1f1f1f
}

.maptalks-layer-switcher ::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #777
}

.maptalks-tooltip {
    display: block;
    background: #fff;
    border: 1px solid #b4b3b3;
    padding: 0 4px;
    height: 24px;
    line-height: 24px;
    font-size: 14px;
    white-space: nowrap
}

.maptalks-my-scale{
    border-right: 2px solid rgb(0, 0, 0); border-bottom: 2px solid rgb(0, 0, 0); border-left: 2px solid rgb(0, 0, 0); border-image: initial; border-top: none; line-height: 1.1; padding: 2px 5px 1px; color: rgb(0, 0, 0); font-size: 11px; text-align: center; white-space: nowrap; overflow: hidden; box-sizing: content-box; background: rgba(255, 255, 255, 0); width: 77px;text-shadow: #fff 1px 0 0, #FFF 0 1px 0, #fff -1px 0 0, #fff 0 -1px 0;
    box-shadow: #fff 1px 0 0, #FFF 0 1px 0, #fff -1px 0 0; text-align: center;
    /*box-shadow: #fff 1px 1px 1px;*/
}

.cesium-my-scale{
    border-right: 2px solid rgb(0, 0, 0); border-bottom: 2px solid rgb(0, 0, 0); border-left: 2px solid rgb(0, 0, 0); border-image: initial; border-top: none; line-height: 1.1; padding: 2px 5px 1px; color: rgb(0, 0, 0); font-size: 11px; text-align: center; white-space: nowrap; overflow: hidden; box-sizing: content-box; background: rgba(255, 255, 255, 0); text-shadow: #fff 1px 0 0, #FFF 0 1px 0, #fff -1px 0 0, #fff 0 -1px 0;
    box-shadow: #fff 1px 0 0, #FFF 0 1px 0, #fff -1px 0 0; text-align: center;
    /*box-shadow: #fff 1px 1px 1px;*/
}

.amap-controlbar {
    position:absolute;
    width:auto;
    height:auto
}
.amap-luopan {
    width:184px
}
.amap-controlbar {
    transform:scale(0.35);
    -ms-transform:scale(0.35);
    -webkit-transform:scale(0.35);
    -o-transform:scale(0.35);
    -moz-transform:scale(0.35);
    transform-origin:100% 0;
    -ms-transform-origin:100% 0;
    -webkit-transform-origin:100% 0;
    -o-transform-origin:100% 0;
    -moz-transform-origin:100% 0
}
.amap-luopan,
.amap-luopan-bg {
    height:184px;
    background:url(https://webapi.amap.com/theme/v1.3/controlbar/ctb.png) -44px -60px no-repeat
}
.amap-luopan-bg-active {
    background:url(https://webapi.amap.com/theme/v1.3/controlbar/ctb.png) -254px -60px no-repeat
}
.amap-compass {
    top:92px;
    left:50%;
    position:absolute;
    margin:-48px;
    width:96px;
    height:96px;
    z-index:0;
    background:url(https://webapi.amap.com/theme/v1.3/controlbar/ctb.png) -462px -52px no-repeat
}
.amap-compass-min {
    top:0;
    left:0;
    margin:0
}
.amap-compass-black {
    background:url(https://webapi.amap.com/theme/v1.3/controlbar/ctb.png) -462px -158px no-repeat
}
.amap-pointers {
    position:absolute;
    width:60px;
    height:96px;
    top:0;
    left:18px;
    border:none;
    z-index:2;
    background:url(https://webapi.amap.com/theme/v1.3/controlbar/ctb.png) -562px -52px no-repeat
}
.amap-pitchDown,
.amap-pitchUp {
    width:60px;
    height:45px;
    position:absolute;
    margin-left:-30px;
    left:50%;
    z-index:1;
    background:url(https://webapi.amap.com/theme/v1.3/controlbar/ctb.png) -605px -98px no-repeat
}
.amap-controlbar-disable {
    opacity:.4
}
.amap-pitch-active {
    background:url(https://webapi.amap.com/theme/v1.3/controlbar/ctb.png) -605px -47px no-repeat
}
.amap-pitchDown:hover{
    background:url(https://webapi.amap.com/theme/v1.3/controlbar/ctb.png) -605px -47px no-repeat
}
.amap-pitchUp:hover{
    background:url(https://webapi.amap.com/theme/v1.3/controlbar/ctb.png) -605px -47px no-repeat
}

.amap-pitchUp {
    top:7px
}
.amap-pitchDown {
    top:132px;
    transform:rotateZ(180deg);
    -ms-transform:rotateZ(180deg);
    -webkit-transform:rotateZ(180deg);
    -o-transform:rotateZ(180deg);
    -moz-transform:rotateZ(180deg)
}
.amap-rotateLeft,
.amap-rotateRight {
    width:42px;
    height:104px;
    top:38px;
    position:absolute;
    z-index:2;
    background:url(https://webapi.amap.com/theme/v1.3/controlbar/ctb.png) -603px -154px no-repeat
}
.amap-rotate-active {
    background:url(https://webapi.amap.com/theme/v1.3/controlbar/ctb.png) -557px -153px no-repeat
}

.amap-rotateLeft:hover{
    background:url(https://webapi.amap.com/theme/v1.3/controlbar/ctb.png) -557px -153px no-repeat
}

.amap-rotateRight:hover{
    background:url(https://webapi.amap.com/theme/v1.3/controlbar/ctb.png) -557px -153px no-repeat
}

.amap-rotateLeft {
    left:10px
}
.amap-rotateRight {
    right:10px;
    transform:rotateY(180deg);
    -ms-transform:rotateY(180deg);
    -webkit-transform:rotateY(180deg);
    -o-transform:rotateY(180deg);
    -moz-transform:rotateY(180deg)
}
.amap-controlbar-zoom {
    width:70px;
    height:184px;
    margin:20px 0 0 56px;
    background:url(https://webapi.amap.com/theme/v1.3/controlbar/ctb.png) -154px -292px no-repeat
}
.amap-controlbar-zoom-bg {
    width:70px;
    height:184px;
    z-index:0;
    position:absolute;
    background:url(https://webapi.amap.com/theme/v1.3/controlbar/ctb.png) -47px -292px no-repeat
}
.amap-controlbar-zoom-add,
.amap-controlbar-zoom-sub {
    width:70px;
    height:70px;
    position:absolute;
    z-index:1
}
.amap-controlbar-zoom-add {
    margin-top:15px;
    background:url(https://webapi.amap.com/theme/v1.3/controlbar/ctb.png) -236px -269px no-repeat
}
.amap-controlbar-zoom-add-active {
    background:url(https://webapi.amap.com/theme/v1.3/controlbar/ctb.png) -236px -375px no-repeat
}
.amap-controlbar-zoom-sub {
    margin-top:105px;
    background:url(https://webapi.amap.com/theme/v1.3/controlbar/ctb.png) -237px -327px no-repeat
}
.amap-controlbar-zoom-sub-active {
    background:url(https://webapi.amap.com/theme/v1.3/controlbar/ctb.png) -236px -439px no-repeat
}

.maptalks-zoom-slider a.maptalks-zoom-zoomin, .maptalks-zoom-slider a.maptalks-zoom-zoomout{
    width: 28px !important;
    height: 28px !important;
    font-size: 28px;
    line-height: 28px;
}
.kailong{
    position: absolute;
    width:0;  
    height:0; 
    border-right:10px solid transparent;
    border-left:10px solid transparent; 
    border-bottom:10px solid #fff; 
}
.columnFlex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.centerFlex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.zoom{
    width: 20px;
    height: 20px;
    background: url(../img/zoom.png)  no-repeat;
}
.menu{
    background:#fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu > span{
    display: inline-block;
    padding: 0px 10px;
    line-height: 42px;
    color: #409eff;
}
.menu_icon{
    display: flex;
    justify-content: center;
    border-radius: 4px;
    background: #DCDFE6;
}
.search_icon{
    padding: 4px 6px;
    height: 24px;
    width: 24px;
    
}
.search_icon_set{
    background: #409eff ;
    border-radius: 4px;
}
.search_icon img{
    height: 24px;
    width: 24px;
}
.menu_rotate{
    height: 26px;
    width: 26px;
    padding: 4px;
}
.menu_rotate_icon{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 26px;
    width: 26px;
    border: 1px solid #1296db ;
    border-radius: 50%;
}
.transit{
    background: #e6e6e6;
    padding: 10px;
    margin: 6px 0px;
    border-radius: 4px;
}
.transit_navigation{
    display: flex;
    align-items: center;
}
.transit_mian_p {
    border: 1px solid #1296db;
    border-radius: 10px;
    padding: 0px 6px;
    font-size: 14px;
    color: #1296db;
}
/*google map*/
.widget-scene-canvas{
    width: 100% !important;
    height: 100% !important;
}