.HistoricalConsultation {
  width: 100%;
  height: 100%;
  background-color: #f8f8f8;

  ul {
    margin-top: .2rem;
    background-color: #fff;

    li {
      padding: 0 .24rem;

      .time {
        height: .8rem;
        line-height: .8rem;
        font-size: .28rem;
        font-family: PingFang-SC-Medium;
        font-weight: 500;
        color: rgba(102, 102, 102, 1);
        border-bottom: .01rem solid #E5E5E5;
      }

      .content {
        margin-top: .27rem;
        font-size: .28rem;
        font-family: PingFang-SC-Medium;
        font-weight: 500;
        color: rgba(51, 51, 51, 1);
        padding-bottom: .38rem;
      }
    }
  }
}