.Login{
  background: url('../../../assets/img/login_bg.png') top/100% #f8f8f8 no-repeat;
  .login_box{
    display: flex;
    justify-content: center;
    padding: 3.9rem 0 1rem;
    .box{
      background: #fff;
      width: 70%;
      display: flex;
      flex-direction: column;
      border-radius:.1rem;
      padding:0 .5rem 1.3rem;
      position: relative;
      h3{
        font-size: .48rem;
        font-weight: normal;
        margin: 0;
        padding-top: .4rem;
      }
      ul{
        li{
          display: flex;
          flex-direction: column;
          padding-top: .8rem;
          span{
            font-size: .28rem;
            color: #333;
          }
          p{
            height: .6rem;
            border-bottom: 1px solid #E5E5E5;
            padding: .2rem 0;
            input{
              font-size: .32rem;
              color: #333;
              width: 100%;
              height: 100%;
              float: left;
              border: 0;
            }
          }
        }
      }
      b{
        font-weight: normal;
        font-size: .26rem;
        color: #EC414D;
        padding-top: .2rem;
        opacity: 0;
      }
      b.active{
        opacity: 1;
      }
      a{
        position: absolute;
        bottom: -0.44rem;
        width:80%;
        height:.88rem;
        box-shadow:0px 0px 10px 3px rgba(13,201,229,0.2);
        border-radius:.44rem;
        text-align: center;
        line-height: .88rem;
        font-size: .34rem;
        color: #FFFFFF;
      }
      a.be_not_allowed{
        background:rgba(13,201,229,0.5);
      }
      a.may{
        background:rgba(13,201,229,1);
      }
    }
  }
}


    
